* {
    margin: 10px;
    padding: 0;
    box-sizing: border-b
}

header {
    margin-bottom: 40px;
}

h1 {
    margin-top: 40px;
}

table {
    margin-top: 40px;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 5px 5px;
}

p {
    margin-bottom: 80px;
}